/* src/pages/Home.module.css */

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    color: #007BFF;
}

.inputWrapper {
    margin-bottom: 20px;
    transition: all 0.3s ease;
}

.inputFile {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.error {
    color: red;
    text-align: center;
    margin-bottom: 20px;
}

.reportWrapper {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    margin-top: 20px;
    transition: all 0.3s ease;
}

.scoreWrapper {
    margin-top: 20px;
}

.progressBarWrapper {
    background-color: #ddd;
    height: 20px;
    border-radius: 4px;
    overflow: hidden;
    margin-top: 10px;
}

.progressBar {
    background-color: #28a745;
    height: 100%;
}

.issueList {
    list-style-type: none;
    padding-left: 0;
  }

  .issueItem {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
  }

  .issueName {
    font-size: 1.1em;
    font-weight: bold;
  }

  .issueDescription {
    margin: 10px 0;
    font-size: 0.95em;
    color: #555;
  }

  .issueDetails {
    list-style-type: none;
    padding-left: 20px;
    margin-top: 10px;
  }

  .issueDetailItem {
    margin-bottom: 10px;
    font-size: 0.9em;
  }

  .detailTag {
    font-family: monospace;
    background-color: #f0f0f0;
    padding: 2px 5px;
    border-radius: 4px;
  }

  .detailReason {
    color: #d9534f;
  }

  .detailSuggestion {
    font-size: 0.9em;
    color: #5bc0de;
    margin-top: 5px;
  }

  .suggestionText {
    margin-top: 5px;
  }

  .noIssues {
    font-size: 1.1em;
    color: #333;
    margin-top: 20px;
  }
